
<h1>Account Details</h1>

<section>  
  {% if customer.orders.size > 0 %}
    <table>
      <thead>
        <tr>
          <th>Order</th>
          <th>Date</th>
          <th>Payment Status</th>
          <th>Fulfillment Status</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {% for order in customer.orders %}
        <tr>
          <td>{{ order.name | link_to: order.customer_url }}</td>
          <td>{{ order.created_at | date: "%b %d, %Y" }}</td>
          <td>{{ order.financial_status }}</td>
          <td>{{ order.fulfillment_status }}</td>
          <td>{{ order.total_price | money }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <h2>You haven't placed any orders yet.</h2>
    <h3><a href="/collections/all">Continue Shopping</a>
  {% endif %}
</section>

<section>
  <dl>
    <dt>Name</dt>
    <dd>{{ customer.name }}</dd>
  
    <dt>Email</dt>
    <dd>{{ customer.email }}</dd>
  
    {% if customer.default_address != nil %}
      <dt>Address (default)</dt>
      <dd>
        {{ customer.default_address.address1 }}<br /> {% comment %} street address {% endcomment %}
        {{ customer.default_address.city}}, {% if address.province_code %}{{customer.default_address.province_code}}, {% endif %}{{customer.default_address.country}}<br />
        {{ customer.default_address.zip}}<br />
      </dd>
    {% endif %}
  
    <dt>Phone</dt>
    <dd>{{ customer.default_address.phone }}</dd>
  </dl>
  
  <a href="/account/addresses">View Addresses</a>
</section>
