
<h1>Account Addresses</h1>

{% paginate customer.addresses by 10 %}
  {% for address in customer.addresses %}
    <div id="view_address_{{address.id}}">
      <dl>
        <dt>Name</dt>
        <dd>{{ address.first_name }} {{address.last_name }}</dd>
        {% if address.company != empty %}
          <dt>Company</dt>
          <dd>{{ address.company }}</dd>
        {% endif %}
        <dt>Address</dt>
        <dd>
          {{ address.street }}<br />
          {{ address.city }}{% if address.province_code %}, {{ address.province_code }}{% endif %}<br />
          {{ address.country }} {{ address.zip }}<br />
          {{ address.phone }}
        </dd>
      </dl>
      <ul>
        <li>{{ 'Edit' | edit_customer_address_link: address.id }}</li>
        <li>{{ 'Delete' | delete_customer_address_link: address.id }}</li>
      </ul>
    </div>
    
    <div id="edit_address_{{address.id}}" style="display:none;">
      {% form 'customer_address', address %}
        <section>
          <label for="address_first_name_{{form.id}}">First Name</label>
          <input type="text" id="address_first_name_{{form.id}}" name="address[first_name]" value="{{form.first_name}}" />
        </section>
        
        <section>
          <label for="address_last_name_{{form.id}}">Last Name</label>
          <input type="text" id="address_last_name_{{form.id}}" name="address[last_name]" value="{{form.last_name}}" />
        </section>
        
        <section>
          <label for="address_company_{{form.id}}">Company</label>
          <input type="text" id="address_company_{{form.id}}" name="address[company]" value="{{form.company}}" />
        </section>
        
        <section>
          <label for="address_address1_{{form.id}}">Address1</label>
          <input type="text" id="address_address1_{{form.id}}" name="address[address1]" value="{{form.address1}}" />
        </section>
        
        <section>
          <label for="address_address2_{{form.id}}">Address2</label>
          <input type="text" id="address_address2_{{form.id}}" name="address[address2]" value="{{form.address2}}" />
        </section>
        
        <section>
          <label for="address_city_{{form.id}}">City</label>
          <input type="text" id="address_city_{{form.id}}" name="address[city]" value="{{form.city}}" />
        </section>
        
        <section>
          <label for="address_country_{{form.id}}">Country</label>
          <select id="address_country_{{form.id}}" name="address[country]" data-default="{{form.country}}">
            {{ country_option_tags }}
          </select>
        </section>
        
        <section id="address_province_container_{{form.id}}" style="display:none">
          <label for="address_province_{{form.id}}">Province</label>
          <select id="address_province_{{form.id}}" name="address[province]" data-default="{{form.province}}"></select>
        </section>
        
        <section>
          <label for="address_zip_{{form.id}}">Zip</label>
          <input type="text" id="address_zip_{{form.id}}" name="address[zip]" value="{{form.zip}}" />
        </section>
        
        <section>
          <label for="address_phone_{{form.id}}">Phone</label>
          <input type="text" id="address_phone_{{form.id}}" name="address[phone]" value="{{form.phone}}" />
        </section>      
        
        <section>
          {{ form.set_as_default_checkbox }} Set as Default Address?
        </section>
        
        <section>
          <input type="submit" value="Update Address" />
          <a href="#" onclick="Shopify.CustomerAddress.toggleForm({{form.id}}); return false;">Cancel</a>
        </section>
      {% endform %}
    </div>
  {% endfor %}

  {{ paginate | default_pagination }}
{% endpaginate %}

<a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">
  Add a new address
</a>

<div id="add_address" style="display:none;">
  {% form 'customer_address', customer.new_address %}
    <h3>Add a new address</h3>
    
    <section>
      <label for="address_first_name_new">First Name</label>
      <input type="text" id="address_first_name_new" name="address[first_name]" value="{{form.first_name}}" />
    </section>

    <section>
      <label for="address_last_name_new">Last Name</label>
      <input type="text" id="address_last_name_new" name="address[last_name]" value="{{form.last_name}}" />
    </section>

    <section>
      <label for="address_company_new">Company</label>
      <input type="text" for="address_company_new" name="address[company]" value="{{form.company}}" />
    </section>
    
    <section>
      <label for="address_address1_new">Address1</label>
      <input type="text" id="address_address1_new" name="address[address1]" value="{{form.address1}}" />
    </section>
    
    <section>
      <label for="address_address2_new">Address2</label>
      <input type="text" id="address_address2_new" name="address[address2]" value="{{form.address2}}" />
    </section>
    
    <section>
      <label for="address_city_new">City</label>
      <input type="text" id="address_city_new" name="address[city]" value="{{form.city}}" />
    </section>
    
    <section>
      <label for="address_country_new">Country</label>
      <select id="address_country_new" name="address[country]" data-default="{{form.country}}">
        {{ country_option_tags }}
      </select>
    </section>
    
    <section id="address_province_container_new" style="display:none">
      <label for="address_province_new">Province</label>
      <select id="address_province_new" name="address[province]" data-default="{{form.province}}"></select>
    </section>
    
    <section>
      <label for="address_zip_new">Zip</label>
      <input type="text" id="address_zip_new" name="address[zip]" value="{{form.zip}}" />
    </section>
    
    <section>
      <label for="address_phone_new">Phone</label>
      <input type="text" id="address_phone_new" name="address[phone]" value="{{form.phone}}" />
    </section>
    
    <section>
      {{ form.set_as_default_checkbox }} Set as Default Address?
    </section>

    <section>
      <input type="submit" value="Add Address" />
      <a href="#" onclick="Shopify.CustomerAddress.toggleNewForm(); return false;">Cancel</a>
    </section>
  {% endform %}
</div>

<script>
  // initialize observers on address selectors
  new Shopify.CountryProvinceSelector(
    'address_country_new', 
    'address_province_new', 
    { hideElement: 'address_province_container_new' }
  );
  
  {% for address in customer.addresses %}
    new Shopify.CountryProvinceSelector(
      'address_country_{{address.id}}',
      'address_province_{{address.id}}',
      { hideElement: 'address_province_container_{{address.id}}' }
    );
  {% endfor %}
</script>
