<!doctype html>

<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1">
  <meta name="description" content="{{ page_description }}" />
  <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1' /><![endif]-->

  <title>{{ shop.name }} | {{ page_title }}</title>

  <link rel="canonical" href="{{ canonical_url }}" />

  {{ content_for_header }}

  {{ 'foundation.css' | asset_url | stylesheet_tag }}
  {{ 'shop.scss.css' | asset_url | stylesheet_tag }}

  <!--[if lt IE 9]>
    {{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
  <![endif]-->

  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {{ 'customer_area.js'  | shopify_asset_url | script_tag }}
  {% endif %}
</head>

<body>
  <header>
    <form action="/search" method="get">
      <input name="q" type="text" placeholder="Search store..." />
      <input type="submit" value="Search" />
    </form>
    
    <ul>
      {% if shop.customer_accounts_enabled %}
        <li>
          {% if customer %}
            Logged in as <a href="/account">{{ customer.first_name }}</a> · {{ 'Log out' | customer_logout_link }}
          {% else %}
            {{ 'Log in' | customer_login_link }}
            {% if shop.customer_accounts_optional %}
              or {{ 'Create an account' | customer_register_link }}
            {% endif %}
          {% endif %}
        </li>
      {% endif %}
      <li>
        <a href="/cart">
          {{ cart.item_count }} {{ cart.item_count | pluralize: 'item', 'items' }} ({{ cart.total_price | money }})
        </a>
      </li>
      <li><a href="/cart">Check out</a>  </li>
    </ul>
    
    <nav>
      <ul>
        {% for link in linklists['main-menu'].links %}
          <li><a href="{{ link.url }}">{{ link.title }}</a><li>
        {% endfor %}
      </ul>
    </nav>
  </header>

  <div>
    {{ content_for_layout }}
  </div>

  <footer>
    <ul>
      {% for link in linklists.footer.links %}
        <li><a href="{{ link.url }}">{{ link.title }}</a></li>
      {% endfor %}
    </ul>
    
    <p>Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}.</p>
  </footer>
  
  {{ 'jquery.js' | asset_url | script_tag }}
  {{ 'shop.js'  | asset_url | script_tag }}

</body>
</html>